@font-face {
    font-family: "myDisplay";
    src: url("sf-pro-text-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "mySans";
    src: url("sf-pro-text-regular-webfont.woff2") format("woff2");
}

.navbar ul{
    list-style-type: none;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

inline {
    display: inline-block;
}
p {
    font-family: "mySans";
}
h1 {
    font-family: "myDisplay";
    font-size: 100px;
    text-align: center;
}
button.highlighted {
    font-family: "myDisplay";
    font-size: 100px;
    border: none;
    border-radius: 30px;
    background-color: #0070DA;
    color: white;
}
.navbar a{
    color: black;
    text-decoration: none;
    font-family: font;
    font-size: 20px;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: "mySans";
} 
a.button {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: "mySans";
    text-decoration: none;
    background-color: #fff;
    border: none;
    color: black;
}

.arrow {
    color: black;
    margin: 1em 0;

    &::after {
        display: inline-block;
        padding-left: 8px;
        content: "\0279E"; // arrow right unicode
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        
    }

    &:hover {
        color: black;

        &::after {
            -webkit-transform: translateX(10px);
            -moz-transform: translateX(10px);
            -ms-transform: translateX(10px);
            -o-transform: translateX(10px);
            transform: translateX(10px);
        }
    }
}

.navbar li{
    float: left;
}

.navbar a:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.light{
background: -moz-linear-gradient(-45deg,  #FF00AA 0%, #FF00AA 40%, #FF90DA 50%, #FF00AA 60%, #FF00AA 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#FF00AA), color-stop(40%,#FF00AA), color-stop(50%,#FF90DA), color-stop(60%,#FF00AA), color-stop(100%,#FF00AA));
background: -webkit-linear-gradient(-45deg,  #FF00AA 0%,#FF00AA 40%,#FF90DA 50%,#FF00AA 60%,#FF00AA 100%);
background: -o-linear-gradient(-45deg,  #FF00AA 0%,#FF00AA 40%,#FF90DA 50%,#FF00AA 60%,#FF00AA 100%);
background: -ms-linear-gradient(-45deg,  #FF00AA 0%,#FF00AA 40%,#FF90DA 50%,#FF00AA 60%,#FF00AA 100%);
background: linear-gradient(135deg,  #FF00AA 0%,#FF00AA 40%,#FF90DA 50%,#FF00AA 60%,#FF00AA 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF00AA', endColorstr='#FF00AA',GradientType=1 );
background-repeat: no-repeat;  
background-position:0px;
background-size:300%;  
}

.light:hover{
animation:light 1s;
-webkit-animation:light 1s;

}

@keyframes light {
0% {
    background-position:-600px; 
}
100% { 
    background-position:0px; 
}
}
    
@-webkit-keyframes light {
0% {
    background-position:-600px; 
}
100% { 
    background-position:0px; 
}
}

.bounce:hover{
animation:bounce 1s;
-webkit-animation:bounce 1s;

}
